################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OneClickForums
/**/bin
/**/obj
/TestResults
